*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --bg-color: #0f0f0f;
  --text-color: #eaeaea;
  --accent-color: #4ade80;

  --font-main: 'Inter', system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  line-height: 1.6;
}